#left-sidebar {
	position: fixed;
	width: var(--sidebar-width);
	height: 100%;
	background-color: var(--theme-color);
	padding-top: var(--header-height);

	.item {
		display: block;
		width: 100%;
		padding: 10px 20px;
		color: var(--theme-font-color);
		transition-duration: 200ms;
		transition-property: background-color;

		&:hover {
			background-color: #a74c6f;
		}
	}
}
