/*
* 初期設定
*/

:root {
	--theme-color: #911f4b;
	--theme-font-color: #e9d2db;
	--header-height: 50px;
	--sidebar-width: 250px;
}

*,
*::after,
*::before {
	/* フォント */
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "YuGothic", "メイリオ",
		Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
		"ＭＳ Ｐゴシック", sans-serif;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;

	/* テキスト */
	color: black;

	/* マージン・パディング */
	margin: 0;
	padding: 0;

	/* インターフェース */
	box-sizing: border-box;

	/* ボーダー */
	border-style: solid;
	border-width: 0;
	border-color: black;

	/* Flexbox */
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

head,
style,
script,
meta,
link,
title {
	display: none;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: inherit;
	height: inherit;
	overflow-y: scroll;
}

html,
body,
div,
section,
article,
aside,
nav,
header,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
address,
hr,
pre,
blockquote,
ol,
ul,
dl,
dt,
dd,
figure,
figcaption,
img,
iframe,
embed,
object,
param,
video,
audio,
source,
canvas,
map,
area,
form,
fieldset,
legend,
label,
input,
button,
select,
option,
textarea,
keygen,
output,
progress,
meter,
hgroup,
main {
	display: block;
}

ul,
ol {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 40px;
}

li {
	display: list-item;
}

a {
	color: #1f4b91;
	text-decoration: none;
}

select,
input,
textarea {
	border-width: 1px;
}

table {
	display: table;
	caption-side: top;
	border-collapse: collapse;
	border-spacing: 0;
}

table,
tbody,
td,
th,
tr {
	border-width: 1px;
}

tbody {
	display: table-row-group;
}

tr {
	display: table-row;
}

td,
th {
	display: table-cell;
	vertical-align: inherit;
}

p {
	margin-bottom: 10px;
}

p:last-child {
	margin-bottom: 0;
}
